<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ "images/background.jpeg" | prepend: site.url }})">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <nav class="cover-navigation navigation--social">
        <ul class="navigation">

        {% if site.organiser.twitter_username %}
          <!-- Twitter -->
          <li class="navigation__item">
            <a href="http://twitter.com/{{ site.organiser.twitter_username }}" title="@{{ site.organiser.twitter_username }} on Twitter" target="_blank">
              <i class="icon icon-social-twitter"></i>
              <span class="label">Twitter</span>
            </a>
          </li>
        {% endif %}

        {% if site.organiser.facebook_username %}
          <!-- Facebook -->
          <li class="navigation__item">
            <a href="http://fb.me/{{ site.organiser.facebook_username }}" title="{{ site.organiser.facebook_username }} on Facebook" target="_blank">
              <i class="icon icon-social-facebook"></i>
              <span class="label">Facebook</span>
            </a>
          </li>
        {% endif %}

        {% if site.organiser.linkedin_username %}
          <!-- LinkedIn -->
          <li class="navigation__item">
            <a href="https://www.linkedin.com/in/{{ site.organiser.linkedin_username }}" title="{{ site.organiser.linkedin_username }} on LinkedIn" target="_blank">
              <i class="icon icon-social-linkedin"></i>
              <span class="label">LinkedIn</span>
            </a>
          </li>
        {% endif %}

        {% if site.data.hackfest.repo %}
          <!-- GitHub -->
          <li class="navigation__item">
            <a href="https://www.github.com/{{ site.data.hackfest.repo }}" title="See on GitHub" target="_blank">
              <i class="icon icon-social-github"></i>
              <span class="label">GitHub</span>
            </a>
          </li>
        {% endif %}
          <!-- GitHub -->
          <li class="navigation__item">
            <a href="https://github.com/{{ site.data.hackfest.repo }}/fork" title="Fork this on GitHub" target="_blank">
              <i class="fa fa-social fa-code-fork"></i></a>
          </li>
        {% if site.organiser.email %}
          <!-- Email -->
          <li class="navigation__item">
            <a href="mailto:{{ site.organiser.email }}" title="Email {{ site.organiser.email }}" target="_blank">
              <i class="icon icon-mail"></i>
              <span class="label">Email</span>
            </a>
          </li>
        {% endif %}

        <!-- RSS
        <li class="navigation__item">
          <a href="{{ "feed.xml" | prepend: site.url }}" title="Subscribe" target="_blank">
            <i class="icon icon-rss"></i>
            <span class="label">RSS</span>
          </a>
        </li> -->
        <li class="navigation__item">
          <a href="http://discourse.sci-gaia.eu" title="discuss" target="_blank">
            <i class="fa fa-social fa-comments-o"></i>
            <span class="label">Email</span>
          </a>
        </li>
        </ul>
      </nav>

    <div class="panel-main__content">
        <a href="{{ site.url }}" title="link to home of {{ organiser.name }}">
          <img src="{{ "images/sci-gaia-logo.png" | prepend: site.url }}" class="user-image" alt="Organiser icon">
          <h1 class="panel-cover__title panel-title"><i class="fa fa-flask"></i> {{ site.title }} <i class="fa fa-globe"></i></h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description"><i class="fa fa-quote-left"></i> {{ site.description }} <i class="fa fa-quote-right"></i></p>
        <!-- <hr class="panel-cover__divider panel-cover__divider--secondary">
        <p class="panel-cover__description">{{ site.intro }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary"> -->


        <div class="navigation-wrapper"> <!-- first row -->
          <div class="navigation-wrapper">
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                {% for page in site.data.hackfest.pages %}
                {% if page.url and page.title and page.icon and page.name %}
                <li class="navigation__item"><a href="{{site.url }}{{ page.url }}" title="{{ page.title }}" class="blog-button"><i class="fa fa-{{ page.icon }}"></i>  {{ page.name }}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div> <!-- /first row -->

        </div>
      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
